
body {
    background: #F4F3EF;
    background: linear-gradient(to right, #F4F3EF, #e8e5db);
  }

/* imagen lateral para resoluciones desktop */

.bg-login {
  background-image: url("../img/login.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* imagen superior para resoluciones pequeñas */
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  background-image: url("../img/login.svg");
}
.cver {
  height: 200px;
}

/* Color botones */
.bg-info2 {
  background-color: #40ADBA !important;
}
.bg-info3 {
  background-color: #c4e9ed !important;
  color: #3a6f75;
}